# Build files
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib

# Compiled executable
occ-demo

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VS Code config
.vscode/

# macOS crap
.DS_Store

bin/